@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #440381;
  --bg-color: #171614;
  --gradiente01: linear-gradient(
    to bottom,
    #fcfdff 0%,
    #d8e7fb 30%,
    #d5c5ea 100%
  );
  --gradiente02: linear-gradient(
    to bottom,
    #895ef4 0%,
    #4845a9 30%,
    #9e58f6 100%
  );
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  z-index: 10000;
}

body::before {
  content: "";
  position: fixed; /* cobre toda a tela mesmo ao rolar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/noisy-texture-300x200-o10-d10-c-f34379-t1.png");
  background-repeat: repeat;
  opacity: 4;
  z-index: 100; /* valor alto, mas controlado */
  pointer-events: none; /* não bloqueia cliques */
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu {
  position: fixed;
  align-self: center;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7.9rem;

  width: 54rem;
  height: 8rem;

  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.4) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;

  z-index: 100;
}

.menu a {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: white;
  text-decoration: none;
}

.menu-redes {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  align-self: flex-end;
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;

  width: 8rem;
  height: 54rem;

  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.4) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  z-index: 100;
}

.fa-brands,
.fa-solid {
  font-size: 3rem;
  color: white;
}

/*Home*/

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 192rem;
}

/*Informacoes na home*/

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 14rem;
}

.container-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  width: 50%;
}

.boas-vindas {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;

  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.4) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  height: 5.4rem;
  width: 40rem;
}

.boas-vindas p {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  padding-left: 2.5rem;
}

.waving-hand {
  font-size: 3rem;
}

.title-info {
  display: flex;
  flex-direction: column;
}

.title-quem-sou {
  font-family: "Hammersmith One", sans-serif;
  font-size: 6rem;
  color: white;
}

.title-formacao {
  display: flex;
  flex-direction: column;
  font-family: "Hammersmith One", sans-serif;
  font-size: 10rem;
  background: linear-gradient(
    135deg,
    rgba(137, 94, 244) 0%,
    rgba(72, 69, 169) 30%,
    rgba(158, 88, 246) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-formacao span {
  display: flex;
  flex-direction: column;
  font-family: "Hammersmith One", sans-serif;
  font-size: 10rem;
  background: linear-gradient(135deg, #fcfdff 0%, #d8e7fb 30%, #d5c5ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Imagem astronauta*/

.container-direita {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container-direita img {
  width: 100%;
}

/*nava de habilidades*/

.nav-skills {
  width: 100%;
  height: 6rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50rem;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.4) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  margin-top: auto; /* opcional, se usar flex */
}

/*Secao sobre*/

.sobre {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 0 14rem;
  padding-top: 10rem;

  width: 100%;
  max-width: 192rem;
}

/*Titulo da secao*/

h2 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 6rem;
  background: linear-gradient(
    135deg,
    rgba(137, 94, 244) 0%,
    rgba(72, 69, 169) 30%,
    rgba(158, 88, 246) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Container principal*/

.sobre-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16.7rem;
  width: 100%;
  padding: 10rem 0;
}

.img-dev {
  background-image: url("../img/ChatGPT\ Image\ 15\ de\ mai.\ de\ 2025\,\ 19_33_36.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 40%;
  aspect-ratio: 1 / 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  row-gap: 6.5rem;
  width: 50%;
}

.frase-destaque h3 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4.8rem;
  background: linear-gradient(135deg, #fcfdff 0%, #d8e7fb 30%, #d5c5ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.localizacao-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}

.localizacao-container i {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.4) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.4) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 1rem;

  font-size: 2rem;
  color: white;
}

.localizacao-container p {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  color: white;
}

.texto-sobre p {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: justify;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

/*Projetos*/

.projetos {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 0 14rem;
  padding-top: 10rem;

  width: 100%;
  max-width: 192rem;
}

.container-projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;

  padding: 10rem 0;
}

.projeto-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgba(137, 94, 244, 0.1) 0%,
    rgba(72, 69, 169, 0.4) 30%,
    rgba(158, 88, 246, 0.1) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  box-shadow: 0px 12px 20px 5px #4403812c;
}

.img-projeto {
  background-image: url("../img/img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 40rem;
  max-width: 100%;
  aspect-ratio: 16/8;
  border-radius: 2rem 2rem 0 0;
}

.info-projeto {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 2rem 3rem;
}

.info-projeto h3 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 3rem;
  background: linear-gradient(135deg, #fcfdff 0%, #d8e7fb 30%, #d5c5ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-projeto p {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: white;
}

.ferramentas {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding: 2rem 0;
}

.ferramenta {
  font-family: "Hammersmith One", sans-serif;
  font-size: 2.4rem;
  background: linear-gradient(135deg, #fcfdff 0%, #d8e7fb 30%, #d5c5ea 100%);
  border-radius: 1rem;
  padding: 1rem;
}